.global {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    max-width: 1500px;
}

.leftPart {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chapterRead {
    margin-top: 20px;
    font-size: large;
}

.chapterInput {
    cursor: pointer;
    margin-right: 10px;
}

.chapterPart {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    border: 1px solid #0F0F0F;
    border-radius: 10px;
    margin: 50px auto 0 auto;
    padding: 0 30px;
    background-color: white;
}

.chapterLine {
    height: 1px;
    background-color: #0F0F0F;
    width: 40%;
}

.contentChapter {
    margin-top: 40px;
    font-family: 'Mukta Vaani', cursive;
    text-align: justify;
}

.rightPart {
    position: sticky ;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
    top: 100px;
    height: fit-content;
    align-self: start;
}

.bookSaga {
    margin: 0;
    font-family: 'Overlock', cursive;
    font-weight: 900;
    font-size: larger;
}

.bookTitle {
    margin: 0;
    font-family: 'Overlock', cursive;
    font-weight: 900;
    font-size: larger;
}

.bookAuthor {
    margin: 0;
    margin-top: 10px;
    font-family: 'Overlock', cursive;
    font-weight: 700;
    font-size: large;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 25px;
}

.buttonContainer {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navBtn {
    margin-top: 20px;
    background-color: transparent;
    border: 1px solid #0F0F0F;
    border-radius: 10px;
    padding: 10px 10px;
    cursor: pointer;
}

.navBtn:hover {
    background-color: #E28413;
    border: 1px solid #E28413;
    color: white;
}

.chapterGlobal {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 50px 20px;
}

.chapterButton {
  padding: 10px 0;
  margin-bottom: 10px;
  font-family: "Mukta Vaani", cursive;
  font-weight: 500;
  font-size: large;
  border-radius: 5px;
  background-color: #FBF5F3;
  cursor: pointer;
  border: #E28413 solid 2px;
  color: #0F0F0F;
}

.chapterButton:hover {
  background-color: #E28413;
  color: #FBF5F3;
}