.header {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px 10px 20px;
    border-bottom: black 1px solid;
    position: fixed;
    top: 0px;
    background-color: #FBF5F3;
    z-index: 100;
}

.headerRight {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.link {
    text-decoration: none;
    color: #0F0F0F;
    font-family: 'Mukta vaani', cursive;
    font-weight: 600;
    font-size: medium;
    
}

.title {
    text-decoration: none;
    color: #0F0F0F;
    font-family: 'Overlock', cursive;
    font-weight: 900;
    font-size: larger;
}

.button {
    background-color: transparent;
    border: none;
    font-family: 'Mukta vaani', cursive;
    font-weight: 600;
    font-size: medium;
    cursor: pointer;
}

.greetingUser {
    margin: 0;
    font-family: 'Mukta Vaani';
}

.dropdown {
    border: none;
    background: transparent;
}

.profile {
    height: 100%;
}

/* Modale bibliothèque */

.modalContainer {
    display: flex;
    flex-direction: column;
    width: 520px;
}

.modaleLibraryContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.cardMyLibrary {
    width: 100px;
    min-height: 200px;
    margin: 0;
}

.deleteBookBtn {
    cursor: pointer;
    position: absolute;
    color: #E28413;
    height: 20px;
    width: 20px;
}

.deleteBookBtn:hover {
    transform: scale(1.5);
}

.bookCard {
    cursor: pointer;
}

.libraryTitle {
    margin: 0;
    font-family: "Overlock", cursive;
    font-size: medium;
}

.libraryState {
    margin: 0;
    font-weight: 700;
}

.libraryAuthor {
    margin: 0;
    font-size: small;
}

.favoriteBtn {
    cursor: pointer;
    position: absolute;
    color: #E28413;
    width: 20px;
    height: 20px;
}

.favoriteBtn:hover {
    transform: scale(1.5);
}


.followContainer {
    display: flex;
    flex-direction: column;
}

.followedAuthorContainer {
    display: flex;
    align-items: center;
}

.followedAuthor {
    font-family: "Overlock", cursive;
    font-size: 1.5rem;
    font-weight: 900;
    margin-right: 20px;
}

.followedBtn {
  cursor: pointer;
  padding: 5px 10px;
  font-family: 'Mukta Vaani', cursive;
  font-size: smaller;
  font-weight: 700;
  background-color: #107E7D;
  color: #FBF5F3;
  border: solid 2px #107E7D;
  border-radius: 5px;
}

.followedBtn:hover {
    background-color: #FBF5F3;
    color: #107E7D;
}

/* Formulaire en modale */

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modalTitle {
    font-family: 'Overlock', cursive;
    font-weight: 800;
    font-size: 1.5rem;
    padding: 0 30px 20px 30px;
    border-bottom: #0F0F0F solid 1px;
}

.modalInput {
    width: 50%;
    font-family: 'Mukta Vaani', cursive;
    font-size: 1rem;
    margin: 15px 0;
    padding: 3px 10px;
    border-radius: 5px;
    border: #0F0F0F solid 1px;
}

.modalButtons {
    text-align: right;
}

.modalButtonFull {
    margin-top: 20px;
    font-family: 'Mukta Vaani', cursive;
    background-color: #E28413;
    margin-left: 10px;
    color: #FBF5F3;
}

.modalButtonEmpty {
    margin-top: 20px;
    font-family: 'Mukta Vaani', cursive;
}

.modalButtonFull:hover {
    background-color: #FBF5F3 !important;
    color: #E28413 !important;
    border-color: #E28413 !important;
}

.modalButtonEmpty:hover {
    color: #E28413 !important;
    border-color: #E28413 !important;
}

.modalDatePicker {
    width: 50%;
    font-family: 'Mukta Vaani', cursive;
    font-size: 1.8rem;
    margin: 15px 0;
    padding: 3px 10px;
    border-radius: 5px;
    border: #0F0F0F solid 1px;
    color: #0F0F0F;
}

.modalDatePicker:hover {
    border: #0F0F0F solid 1px !important
}